.leftSidebar {
  width: 60%;
  border-right: 3px solid #f4b22b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: leftSidebar;
  padding: 5% 5%;
}

h5 {
  margin: 10px;
}

h4 {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid #f4b22b;
  padding: 10px;
  text-align: center;
}

#dimension, #measure {
  width: 80%;
}
