.display {
    width: 100%;
    justify-content: center;
    grid-area: main;
    display: grid;
    grid-template-columns:  75% 5% 20% ;
    grid-template-rows: 30% 10% 60%;
    grid-template-areas: 
    " input  . rightSidebar" 
    " . . ." 
    " chart chart . "
  }
  .rightSidebar {
      border-left: 1px solid #ccc;
      grid-area: rightSidebar;
      width: 100%;
      border-radius: 10px;
      padding: 10px 10px;
      display: flex;
      flex-direction: column;
  }
  .chart-input{
    grid-area: input;
    align-self: center;
  }
  
  .row {
    align-items: center;
  }

 .options {
    padding: 10px;
 }

  .chart-container{
    grid-area: chart;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: 100%;
    padding: 20px;
  }
.dropTarget {
    display: flex;
  }

  .input{
    margin: 10px;
    display: grid;
    height: 50px;
    border-radius: 10px;
    border:1px solid #ccc;
    grid-template-columns: 85% 15%;
    grid-area: input;
  }
  button {
    float: right;
    border-radius: 10px;
    right: 0;
    top: 0;
    bottom: 0;
  }
  label {   
    grid-area: label;
  }
  .apexcharts-tooltip {
    color: black;
    border: 1px solid black
  }
  .wrapper {
    height: 100%;
    width: 100%;
    padding: 10px;
    
  }

  input[type=color]{
    float: right;
    padding: 0;
    margin: 2%;
    background: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  

  input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 46px;
  height: 26px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 30px;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.display-input{
  width:30%
}